<section class="desc">
    <div class="container">
        <div class="desc__body">
            <div class="row">
                <div class="col-md-7">
                    <div class="desc__main">
                        <h2 class="desc__title h4">@@title</h2>
                        <div class="desc__text text-block">
                            @@if (desc===1){
                            <p>Благодаря использованию современных технологий и профессионализму наших преподавателей мы предлагаем нашим студентам онлайн занятия, которые по эффективности не уступают занятиям в классе.</p>
                            <p>Создавая наши онлайн курсы, мы акцентировали внимание на сохранение атмосферы живого общения и высокую роль преподавателя в процессе обучения. Наши занятия в онлайн формате онлайн — это изучение языка путем живого общения с лучшими педагогами.</p>
                            }
                            @@if (desc===2){
                            <p>Обучая людей иностранным языкам, мы помогаем им открывать новые горизонты, познавать мир, общаться, двигаться по карьерной лестнице, путешествовать и развиваться. Мы любим то, что делаем и делаем то, что умеем. У нас всегда открыта дверь профессионалам, которые разделяют нашу страсть к преподаванию.</p>
                            <p>Открыты вакансии для преподавателей английского, немецкого, французского, испанского, китайского и японского языков.</p>
                            <p>А также вакансии педагогов дошкольного образования и администраторов.</p>
                            }
                        </div>
                        <div class="desc__logo">
                            <img src="@img/icons/CME-language-centres.svg" alt="Логотип">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="desc__image">
                        <img src="@img/vacancies.jpg" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>