<section class="desc">
    <div class="container">
        <div class="desc__body">
            <div class="row">
                <div class="col-md-7">
                    <div class="desc__main">
                        <h2 class="desc__title @@if (desc===1){h4}@@if (desc===2){h4}@@if (desc===3){h3}@@if (desc===4){h3}@@if (desc===8){h3}">@@title</h2>
                        <div class="desc__text text-block">
                            @@if (desc===1){
                            <p>Благодаря использованию современных технологий и профессионализму наших преподавателей мы предлагаем нашим студентам онлайн занятия, которые по эффективности не уступают занятиям в классе.</p>
                            <p>Создавая наши онлайн курсы, мы акцентировали внимание на сохранение атмосферы живого общения и высокую роль преподавателя в процессе обучения. Наши занятия в онлайн формате онлайн — это изучение языка путем живого общения с лучшими педагогами.</p>
                            }
                            @@if (desc===2){
                            <p>Обучая людей иностранным языкам, мы помогаем им открывать новые горизонты, познавать мир, общаться, двигаться по карьерной лестнице, путешествовать и развиваться. Мы любим то, что делаем и делаем то, что умеем. У нас всегда открыта дверь профессионалам, которые разделяют нашу страсть к преподаванию.</p>
                            <p>Открыты вакансии для преподавателей английского, немецкого, французского, испанского, китайского и японского языков.</p>
                            <p>А также вакансии педагогов дошкольного образования и администраторов.</p>
                            }
                            @@if (desc===3){
                            <p>Обучаем испанскому языку детей, подростков и взрослых с 2014 года. Мы предлагаем эффективный и увлекательный учебный процесс, знакомство с испанской культурой, развитие навыков «говорения», аудирования, грамматики, произношения.</p>
                            <p>В результате у наших учеников - грамотная речь, отличное произношение и богатый словарный запас. По окончании курса выдаем сертификат, подтверждающий уровень знаний испанского языка.</p>
                            }
                            @@if (desc===4){
                            <p>Обучаем французскому языку детей, подростков и взрослых с 2014 года. Мы предлагаем эффективный и увлекательный учебный процесс, знакомство с французской культурой, развитие навыков «говорения», аудирования, грамматики, произношения.</p>
                            <p>В результате у наших учеников - грамотная речь, отличное произношение и богатый словарный запас. По окончании курса выдаем сертификат, подтверждающий уровень знаний французского языка.</p>
                            }
                            @@if (desc===5){
                            <p>Обучаем японскому языку детей, подростков и взрослых с 2014 года. Мы предлагаем эффективный и увлекательный учебный процесс, знакомство с французской культурой, развитие навыков «говорения», аудирования, грамматики, произношения.</p>
                            <p>В результате у наших учеников - грамотная речь, отличное произношение и богатый словарный запас. По окончании курса выдаем сертификат, подтверждающий уровень знаний французского языка.</p>
                            }
                            @@if (desc===6){
                            <p>Обучаем немецкому языку детей, подростков и взрослых с 2014 года. Мы предлагаем эффективный и увлекательный учебный процесс, знакомство с французской культурой, развитие навыков «говорения», аудирования, грамматики, произношения.</p>
                            <p>В результате у наших учеников - грамотная речь, отличное произношение и богатый словарный запас. По окончании курса выдаем сертификат, подтверждающий уровень знаний французского языка.</p>
                            }
                            @@if (desc===7){
                            <p>Обучаем китайскому языку детей, подростков и взрослых с 2014 года. Мы предлагаем эффективный и увлекательный учебный процесс, знакомство с французской культурой, развитие навыков «говорения», аудирования, грамматики, произношения.</p>
                            <p>В результате у наших учеников - грамотная речь, отличное произношение и богатый словарный запас. По окончании курса выдаем сертификат, подтверждающий уровень знаний французского языка.</p>
                            }
                            @@if (desc===8){
                            <p>Для многих важно грамотно подготовиться к школьному экзамену ЕГЭ, ведь успешная сдача ЕГЭ по английскому языку – необходимое условие для поступления в ведущие ВУЗы страны.</p>
                            <p>Многие тинейджеры уже осуществили свою мечту и поступили в желаемые ВУЗы занимаясь у наших преподавателей. Отличные результаты позволили нашим ученикам поступить в МГИМО, РУДН, МГУ, ВШЭ и другие вузы.</p>
                            }
                            @@if (desc===9){
                            <p>В Center of Modern English мы обучаем детей с 3 лет. Уроки проходят в игровой форме с использованием современных методик. Ребята учатся по кембриджским пособиям, направленным на развитие коммуникативных навыков. Наша задача – не только научить ребенка языку, но и сделать уроки английского увлекательным хобби.</p>
                            }

                        </div>
                        <div class="desc__logo">
                            <img src="@img/icons/CME-language-centres.svg" alt="Логотип">
                        </div>
                    </div>
                </div>

                @@if(desc===1){
                <div class="col-md-5">
                    <div class="desc__image">
                        <img src="@img/vacancies.jpg" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
                }
                @@if(desc===2){
                <div class="col-md-5">
                    <div class="desc__image">
                        <img src="@img/vacancies.jpg" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
                }
                @@if(desc===3){
                <div class="col-md-5">
                    <div class="desc__image">
                        <img src="@img/courses.jpg" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
                }
                @@if(desc===4){
                <div class="col-lg-3 offset-lg-2 col-md-5">
                    <div class="desc__image">
                        <img src="@img/postcard.png" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
                }
                @@if(desc===5){
                <div class="col-lg-4 offset-lg-1 col-md-5">
                    <div class="desc__image">
                        <img src="@img/collage.png" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
                }
                @@if(desc===6){
                <div class="col-lg-4 offset-lg-1 col-md-5">
                    <div class="desc__image">
                        <img src="@img/german-message.png" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
                }
                @@if(desc===7){
                <div class="col-lg-4 offset-lg-1 col-md-5">
                    <div class="desc__image">
                        <img src="@img/dragon.png" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
                }
                @@if(desc===8){
                <div class="col-md-5">
                    <div class="desc__image">
                        <img src="@img/ege.jpg" class="cover-image" alt="Фото ЕГЭ">
                    </div>
                </div>
                }
                @@if(desc===9){
                <div class="col-md-5">
                    <div class="desc__image">
                        <img src="@img/preschoolers.jpg" class="cover-image" alt="Фото основательницы">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>