@use "sass:math";
@use "sass:color";
@use "../mixins" as *;
@use "../_variables" as *;
@use "../icons" as *;

.breadcrumbs {

	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(8);
		color: #A1A1A1;
		font-size: 0.875rem;
		line-height: 110%;
	}

	// .breadcrumbs__item
	&__item {
		display: inline-flex;
		align-items: center;
		font-size: rem(14);
		gap: rem(8);


		&:not(:last-child) {
			&::before {
				order: 1;
				font-size: 0.5rem;
				@extend %ic, .icon-arrow-right;
			}
		}
	}

	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease;
		max-width: 100%;

		@media (any-hover: hover) {
			&:hover {
				color: #E63C25;
			}
		}


	}
}