@use "sass:math";
@use "sass:color";
@use "../mixins" as *;
@use "../_variables" as *;

.pagination {
	margin-top: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (min-width: $md5) {
		gap: 0.25rem;
	}

	// .page-numbers
	& .page-numbers {
		width: 2rem;
		height: 2rem;
		font-size: rem(16);
		font-weight: 700;
		line-height: 100%;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #393939;
		transition: background-color 0.3s ease, color 0.3s ease;

		&.current {
			background: #FA5300;
			color: #fff;
		}

		&[href] {
			@media (any-hover: hover) {
				&:hover {
					background: #FA5300;
					color: #fff;
				}
			}
		}
	}

}