@use "sass:math";
@use "sass:color";
@use "../_mixins" as *;
@use "../_variables" as *;


.articles {
    margin-top: rem(65);
    padding: $header 0 rem(30);

    @media (min-width:$md5) {
        padding: $header 0 rem(40);

    }

    @media (min-width:$md2) {
        padding: $header 0 rem(45);

    }

    // .articles__header
    &__header {
        background-color: #F6F6F6;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: rem(20);

        @media (min-width:$md5) {
            padding: 2.5rem;

        }
    }

    // .articles__logo
    &__logo {
        max-width: rem(70);

        @media (min-width:$md5) {
            max-width: 6.685rem;

        }
    }

    // .articles__content
    &__content {
        padding: rem(14) 0;

        @media (min-width:$md5) {
            padding: 0.6rem 0;

        }
    }

    // .articles__title
    &__title {
        margin-top: 2rem;

        @media (min-width:$md5) {
            margin-top: 0.4rem;
        }
    }

    // .articles__list
    &__list {
        display: grid;
        max-width: 100%;
        gap: rem(20);
        row-gap: rem(30);
        margin-top: 0.75rem;

        @media (min-width:$md5) {
            margin-top: 3.2rem;
            margin-inline: auto;
            max-width: rem(780);
            grid-template-columns: repeat(2, 1fr);

        }

        @media (min-width:$md2) {
            margin-top: 3rem;
            grid-template-columns: repeat(3, 1fr);
            max-width: 100%;
            gap: 1.75rem;

        }
    }

    // .articles__pagination
    &__pagination {}
}

.article-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;

    &.swiper-slide {
        width: 100%;
        height: auto;

        @media (min-width:$md5) {
            width: rem(380);

        }

        .article-card__body {
            min-height: auto;

            @media (min-width:$md5) {
                min-height: rem(192);

            }
        }
    }


    // .article-card__content
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        background: #F6F6F6;
        transition: background-color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                background: color.adjust($color: #F6F6F6, $lightness: -10%)
            }
        }
    }

    // .article-card__thumbnail
    &__thumbnail {
        aspect-ratio: math.div(380, 254);
        position: relative;
        display: block;
        width: 100%;

        & img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    // .article-card__image
    &__image {}

    // .article-card__body
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        padding: rem(8) rem(20) rem(20);
        min-height: 15.6875rem;

        @media (min-width:$md4) {
            min-height: 18.875rem;
            padding: rem(8) rem(24) rem(24);

        }
    }

    // .article-card__meta
    &__meta {
        display: flex;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
        color: #A1A1A1;
        line-height: 110%;
        gap: rem(10);
        row-gap: rem(2);
        min-height: rem(42);
        font-size: rem(14);
        width: 100%;

        @media (min-width:$md4) {
            width: auto;
            font-size: 0.9375rem;

        }
    }

    // .article-card__category
    &__category {}

    // .article-card__views
    &__views {
        display: flex;
        align-items: center;
        line-height: 1.3;
        gap: 0.25rem;

        &::before {
            width: 1.375rem;
            height: 1.375rem;
            font-size: 1.375rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            align-content: center;
        }
    }

    // .article-card__title
    &__title {
        margin-top: 1.75rem;
        text-align: center;
        font-weight: 700;
    }

    // .article-card__excerpt
    &__excerpt {
        text-align: center;
        line-height: 1.2;
        margin-top: rem(20);
        font-size: rem(14);

        @media (min-width:$md4) {
            font-size: 1rem;
        }
    }
}

.popular-tags {
    padding: rem(30) 0 rem(40);

    @media (min-width:$md5) {
        padding: rem(40) 0;
    }

    @media (min-width:$md2) {
        padding: rem(45) 0 rem(40);

    }

    // .popular-tags__title
    &__title {}

    // .popular-tags__cloud
    &__cloud {
        margin-top: rem(40);
        display: flex;
        flex-wrap: wrap;
        gap: rem(12);

        & a.tag-cloud-link {
            background: #F6F6F6;
            color: #393939;
            line-height: 150%;
            text-transform: lowercase;
            padding: 0.5625rem 1.6875rem;
            border-radius: 0.25rem;
            transition: background-color 0.3s ease;
            font-size: rem(18) !important;

            @media (min-width:$md5) {
                font-size: 1.375rem !important;

            }

            @media (any-hover: hover) {
                &:hover {
                    background: color.adjust($color: #F6F6F6, $lightness: -10%)
                }
            }
        }
    }
}

.most-read {
    padding: rem(40) 0 rem(88);

    @media (min-width:$md5) {
        padding: rem(40) 0 rem(100);
    }

    .container {
        @media (min-width:$md1) {
            max-width: rem(1396);
        }
    }

    // .most-read__title
    &__title {}

    // .most-read__slider
    &__slider {
        position: relative;
        margin-top: rem(30);

        @media (min-width:$md5) {
            margin-top: rem(45);
        }

        .swiper {
            overflow: visible;
        }

        @media (min-width:$md1) {
            margin-top: rem(60);
            padding: 0 rem(100);

            .swiper {
                overflow: hidden;
            }
        }

    }

    // .most-read__pagination
    &__pagination {
        &.swiper-pagination {
            margin-top: rem(40);
        }
    }

    // .most-read__slider-prev
    &__slider-prev {
        left: 0;
        @extend %blog-arrow-btn;

        &.swiper-button-lock {
            display: none;
        }
    }

    // .most-read__slider-next
    &__slider-next {
        right: 0;
        @extend %blog-arrow-btn;

        &.swiper-button-lock {
            display: none;
        }
    }

}

%blog-arrow-btn {
    display: none;


    @media (min-width: $md1) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #c2bfbf;
        z-index: 2;
        transition: color 0.3s ease 0s;
        font-size: 2.5rem;
        display: block;
        font-size: rem(80);
    }

    @media (any-hover: hover) {
        &:hover {
            color: $accent;
        }
    }

    &:disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}