@use "sass:math";
@use "sass:color";
@use "../_mixins" as *;
@use "../_variables" as *;

.centres {
	padding: 1.25rem 0 3.75rem;
	@media (min-width: $md5) {
		padding: 1.875rem 0 4.375rem;
	}
	@media (min-width: $md2) {
		padding: 2.5rem 0 3.75rem;
	}
	// .centres__block
	&__block {
		padding: 1.25rem 0;
		@media (min-width: $md5) {
			padding: 1.875rem 0;
		}
		@media (min-width: $md2) {
			padding: 2.5rem 0;
		}
	}
	// .centres__title
	&__title {
		line-height: 100%;
		@media (max-width: $md5) {
			font-size: 2rem;
		}
	}
	// .centres__body
	&__body {
		margin-top: 2.25rem;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
		}
		@media (min-width: $md2) {
			margin-top: 3.5rem;
		}
	}
}

.certer-card {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// .certer-card__address
	&__address {
		text-align: center;
		line-height: 90%;
		margin-bottom: auto;
		@media (max-width: $md5) {
			font-size: 1.5rem;
		}
		&::before {
			display: inline-block;
			font-size: em(1.5, 2);
			margin-right: em(0.5, 2);
		}
		& small {
			display: block;
			font-size: 0.75em;
		}
	}
	&__row {
		margin-top: 2.25rem;
		display: grid;
		flex: 1 1 auto;
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
		.certer-card__image {
			margin-top: 0;
			min-height: 100%;
			& img {
				height: 100%;
				max-height: 100%;
			}
		}
		.certer-card__info {
			@media (min-width: $md5) {
				padding: 1.25rem 1.75rem;
			}
			@media (min-width: $md2) {
				padding: 1.87rem 3.56rem;
			}
		}
		.certer-card__contacts-item {
			&:not(:last-child) {
				@media (min-width: $md5) {
					margin-bottom: 0.75rem;
				}
				@media (min-width: $md2) {
					margin-bottom: 1.37rem;
				}
			}
		}
		.certer-card__contacts-btn {
			@media (min-width: $md5) {
				margin-top: 0.75rem;
			}
			@media (min-width: $md2) {
				margin-top: 1.25rem;
			}
		}
	}
	// .certer-card__image
	&__image {
		margin-top: rem(28);
		@media (min-width: $md3) {
			margin-top: 2.25rem;
		}
		@media (min-width: $md2) {
			margin-top: 2.125rem;
		}
		& img {
			width: 100%;
			min-height: 12.5rem;
			object-fit: cover;
			@media (min-width: $md5) {
				max-height: 15.875rem;
			}
		}
	}
	// .certer-card__info
	&__info {
		background: #f6f6f6;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: 1.87rem 3rem;

		@media (min-width: $md5) {
			padding: 1.25rem 1rem;
		}
		@media (min-width: $md3) {
			padding: 1.9rem;
		}
		@media (min-width: $md2) {
			padding: 2.5rem 3.56rem;
		}
	}
	// .certer-card__contacts
	&__contacts {
		margin-bottom: auto;
		line-height: 110%;
		@media (max-width: $md5) {
			font-size: 1rem;
		}
	}
	// .certer-card__contacts-item
	&__contacts-item {
		display: flex;
		align-items: center;
		gap: 0.63rem;
		&::before {
			width: 1.375rem;
			height: 1.375rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: flex-start;
		}
		&.icon-location {
			&::before {
				font-size: 1.375rem;
			}
		}
		&:not(:last-child) {
			margin-bottom: 1.37rem;
		}
		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}
	}
	// .certer-card__contacts-icon
	&__contacts-icon {
		width: 1.375rem;
		height: 1.375rem;
		align-self: flex-start;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .certer-card__contacts-btn
	&__contacts-btn {
		margin-top: 2rem;
		align-self: center;
	}
}

.door-open-day {
	padding: 2.4rem 0;
	@media (min-width: $md4) {
		padding: 4.6rem 0 3.4rem;
	}
	@media (min-width: $md2) {
		padding: 3.3rem 0 2.5rem;
	}
	// .door-open-day__header
	&__header {
		margin: 0 auto;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='335' height='488' viewBox='0 0 335 488' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M335 488C327.731 487.661 321.821 484.208 315.979 480.551C292.272 465.856 269.447 449.604 250.087 427.256C247.234 424.006 244.856 423.396 240.984 424.412C207.63 433.757 95.0012 435.45 61.5114 425.225C27.2065 414.796 8.32179 387.709 2.20803 346.942C-0.645051 327.846 -0.848843 93.2441 2.27596 74.2151C7.98213 39.2046 25.5082 16.8575 54.5825 8.8667C104.851 -4.94789 234.191 -2.10371 283.78 13.8102C310.137 22.275 324.81 43.8772 328.615 76.4499C331.536 101.37 331.807 341.66 328.615 366.445C325.218 392.855 313.466 407.618 291.728 412.765C285.275 414.322 286.43 416.76 288.535 421.568C299.133 445.405 314.349 464.773 330.381 483.327C331.807 485.02 333.438 486.442 335 488Z' fill='%23BCBCBC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M296.325 455C280.371 443.814 265.435 431.401 254.437 413.736C251.993 409.848 249.956 410.394 246.765 411.417C214.653 421.784 105.832 423.762 73.1088 415.646C36.9236 406.711 17.8466 381.953 13.909 338.779C12.4833 322.819 12.6869 87.6545 14.8594 71.7628C18.5934 45.0947 32.5107 29.1348 53.6245 21.4277C82.8849 10.7878 189.398 9.62828 219.745 12.0837C240.927 13.857 261.905 17.4036 282.407 24.0877C305.422 31.6584 318.049 49.0506 321.58 76.3325C324.703 100.75 324.838 344.372 321.783 368.789C319.747 384.817 311.736 394.298 299.108 399.208C293.338 401.459 287.431 403.71 281.457 405.006C276.637 405.961 276.84 408.075 278.062 412.645C282.068 427.991 289.196 441.427 296.325 455Z' fill='white'/%3E%3C/svg%3E%0A");
		padding: 3.475rem rem(20) rem(85);
		max-width: rem(335);
		@media (min-width: $md4) {
			max-width: 53.94688rem;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='864' height='404' viewBox='0 0 864 404' fill='none'%3E%3Cpath d='M80.3502 13.8996C154.351 -6.50032 714.751 -2.29957 787.751 21.2004C826.55 33.7005 848.151 65.6006 853.751 113.7C858.051 150.5 858.451 187.2 853.751 223.8C848.751 262.8 831.45 284.6 799.45 292.2C789.95 294.5 791.651 298.101 794.751 305.2C810.351 340.4 832.75 369 856.35 396.4C858.45 398.9 860.85 401 863.15 403.3C852.45 402.8 843.75 397.7 835.15 392.3C800.25 370.6 766.65 346.6 738.15 313.6C733.95 308.8 730.45 307.9 724.751 309.4C675.651 323.2 139.851 325.7 90.5504 310.6C40.0505 295.2 12.2507 255.2 3.25062 195C-0.949375 166.8 -1.24977 138.5 3.35023 110.4C11.7503 58.6999 37.5503 25.6996 80.3502 13.8996ZM693.751 20.3996C649.051 16.7996 118.05 18.4998 74.9498 34.0998C43.8501 45.3998 23.3503 68.7999 17.8502 107.9C14.6502 131.2 14.3498 154.3 16.4498 177.7C22.2499 241 50.3503 277.3 103.65 290.4C151.85 302.3 686.25 299.4 733.55 284.2C738.25 282.7 741.25 281.9 744.85 287.6C761.05 313.5 783.05 331.7 806.55 348.1C796.05 328.2 785.55 308.5 779.65 286C777.85 279.3 777.55 276.2 784.65 274.8C793.45 272.9 802.15 269.6 810.65 266.3C829.25 259.1 841.05 245.2 844.05 221.7C848.55 185.9 848.351 150.4 843.751 114.6C838.551 74.6 819.95 49.1003 786.05 38.0002C755.851 28.2003 724.951 22.9996 693.751 20.3996Z' fill='%23BCBCBC'/%3E%3C/svg%3E");
			padding: 4.88rem 2.8rem 8.52rem;
		}
		@media (min-width: $md3) {
			padding: 3.88rem 2.8rem 8.52rem;
		}
	}
	// .door-open-day__title
	&__title {
		color: #393939;
		text-align: center;
		line-height: 100%;
		font-size: rem(32);
		@media (min-width: $md4) {
			font-size: 2.625rem;
		}
	}
	// .door-open-day__body
	&__body {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 1.64rem;
		@media (min-width: $md4) {
			margin-top: 0.44rem;
			justify-content: space-between;
			flex-direction: row;
			max-width: 32rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
	// .door-open-day__list
	&__list {
		font-weight: 700;
		font-size: rem(22);
		@media (min-width: $md3) {
			font-size: rem(24);
		}
		& li {
			&:not(:last-child) {
				margin-bottom: 0.3rem;
			}
		}
	}
	// .door-open-day__decor
	&__decor {
		max-width: rem(75);
		margin-top: 1.5rem;
		@media (min-width: $md4) {
			margin-right: 3rem;
			max-width: 6.375rem;
		}
	}
	// .door-open-day__mission
	&__mission {
		max-width: 39.6145rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		@media (min-width: $md4) {
			margin: -2.5rem auto 0;
		}
	}
	// .door-open-day__mission-logo
	&__mission-logo {
		max-width: 4.06119rem;
	}
	// .door-open-day__mission-desc
	&__mission-desc {
		margin-top: 2.4rem;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .door-open-day__benefits
	&__benefits {
		margin-top: 6.7rem;
		@media (min-width: $md1) {
			margin-top: rem(96);
			padding: 0 4.8rem;
		}
		& .row {
			--gutter-y: #{rem(55)};
			& > .col-lg-6 {
				&:nth-child(odd) {
					.door-open-day__benefit {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cpath d='M54.395 51.7197C52.2883 51.9832 50.5328 53.5646 50.0939 55.673C49.3917 58.5721 46.3195 60.3291 43.4229 59.4506C41.4041 58.8357 39.1219 59.4506 37.8052 61.1198C35.8742 63.4918 32.3631 63.6675 30.1687 61.6469C28.5887 60.1534 26.3065 59.802 24.3754 60.6806C21.6544 61.9105 18.4067 60.5927 17.2656 57.7814C16.4756 55.7608 14.6323 54.4431 12.4379 54.4431C9.45349 54.4431 7.08351 51.8075 7.34684 48.8206C7.52239 46.7121 6.38131 44.6915 4.45023 43.7252C1.72916 42.4074 0.763623 38.9812 2.25582 36.4335C3.30914 34.5886 3.22137 32.3044 1.90472 30.5474C0.0614174 28.1754 0.58807 24.6613 3.13358 22.9921C4.88911 21.7622 5.76687 19.6538 5.32799 17.5453C4.71356 14.5584 6.73241 11.7471 9.71681 11.3078C11.8234 11.0443 13.579 9.46296 14.0178 7.35452C14.7201 4.36755 17.7922 2.69837 20.6889 3.57689C22.7077 4.19185 24.9899 3.57689 26.3065 1.9077C28.2376 -0.464294 31.7487 -0.639997 33.9431 1.46845C35.5231 2.96193 37.8052 3.31333 39.7363 2.43482C42.4574 1.11704 45.7051 2.43482 46.8462 5.33392C47.6362 7.35452 49.4795 8.67229 51.6739 8.67229C54.6583 8.67229 57.0283 11.3078 56.7649 14.2948C56.5894 16.4032 57.7305 18.4238 59.6615 19.3902C62.3826 20.708 63.3481 24.1342 61.8559 26.6819C60.8026 28.5268 60.8904 30.8109 62.2071 32.568C64.0504 34.94 63.5237 38.4541 60.9782 40.1232C59.2227 41.2653 58.3449 43.4616 58.7838 45.57C59.3982 48.3813 57.3794 51.2804 54.395 51.7197Z' fill='%23FF3131'/%3E%3Cpath d='M44.8273 19.1266L25.8676 38.1026C25.6043 38.3662 25.1654 38.3662 24.8143 38.1026L19.2844 32.568C18.3188 31.6016 16.8267 31.6016 15.8611 32.568C14.8956 33.5343 14.8956 35.0278 15.8611 35.9942L21.9177 42.056L23.6732 43.813C24.551 44.6915 26.0432 44.6915 27.0087 43.813L28.7642 42.056L48.2506 22.5529C49.2161 21.5865 49.2161 20.093 48.2506 19.1266C47.285 18.1603 45.7051 18.1603 44.8273 19.1266Z' fill='white'/%3E%3C/svg%3E");
						}
					}
				}
				&:nth-child(even) {
					.door-open-day__benefit {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cpath d='M54.1325 51.7197C52.0259 51.9832 50.2703 53.5646 49.8315 55.673C49.1292 58.5721 46.0571 60.3291 43.1605 59.4506C41.1416 58.8357 38.8594 59.4506 37.5428 61.1198C35.6117 63.4918 32.1007 63.6675 29.9063 61.6469C28.3263 60.1534 26.0441 59.802 24.113 60.6806C21.3919 61.9105 18.1442 60.5927 17.0031 57.7814C16.2132 55.7608 14.3698 54.4431 12.1754 54.4431C9.19104 54.4431 6.82109 51.8075 7.08442 48.8206C7.25998 46.7121 6.11884 44.6915 4.18776 43.7252C1.46669 42.4074 0.501154 38.9812 1.99335 36.4335C3.04667 34.5886 2.95892 32.3044 1.64228 30.5474C-0.201024 28.1754 0.325601 24.6613 2.87112 22.9921C4.62664 21.7622 5.50441 19.6538 5.06552 17.5453C4.45109 14.5584 6.46995 11.7471 9.45434 11.3078C11.561 11.0443 13.3165 9.46296 13.7554 7.35452C14.4576 4.36755 17.5298 2.69837 20.4264 3.57689C22.4452 4.19185 24.7274 3.57689 26.0441 1.9077C27.9752 -0.464294 31.4862 -0.639997 33.6806 1.46845C35.2606 2.96193 37.5428 3.31333 39.4739 2.43482C42.1949 1.11704 45.4427 2.43482 46.5838 5.33392C47.3738 7.35452 49.2171 8.67229 51.4115 8.67229C54.3959 8.67229 56.7658 11.3078 56.5025 14.2948C56.3269 16.4032 57.468 18.4238 59.3991 19.3902C62.1202 20.708 63.0857 24.1342 61.5935 26.6819C60.5402 28.5268 60.628 30.8109 61.9446 32.568C63.7879 34.94 63.2613 38.4541 60.7157 40.1232C58.9602 41.2653 58.0825 43.4616 58.5213 45.57C59.1358 48.3813 57.1169 51.2804 54.1325 51.7197Z' fill='%23004AAD'/%3E%3Cpath d='M44.5651 19.1266L25.6054 38.1026C25.3421 38.3662 24.9032 38.3662 24.5521 38.1026L19.0222 32.568C18.0567 31.6016 16.5645 31.6016 15.5989 32.568C14.6334 33.5343 14.6334 35.0278 15.5989 35.9942L21.6555 42.056L23.411 43.813C24.2888 44.6915 25.781 44.6915 26.7465 43.813L28.502 42.056L47.9884 22.5529C48.9539 21.5865 48.9539 20.093 47.9884 19.1266C47.1106 18.1603 45.5306 18.1603 44.5651 19.1266Z' fill='white'/%3E%3C/svg%3E");
						}
					}
				}
			}
		}
	}
	// .door-open-day__benefit
	&__benefit {
		position: relative;
		border-radius: 2.04619rem;
		background: #fff;
		position: relative;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		border: rem(18) solid #f6f6f6;
		padding: rem(54) rem(4) 3.4rem;
		@media (min-width: $md4) {
			padding: rem(36) rem(8) 3.4rem;
			border: rem(32) solid #f6f6f6;
		}
		&::before {
			content: "";
			width: 3.906rem;
			height: 3.94006rem;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -2rem;
			@media (min-width: $md4) {
				top: -3rem;
			}
		}
	}
	// .door-open-day__benefit-caption
	&__benefit-caption {
		color: #393939;
		text-align: center;
		line-height: 140%;
		text-transform: uppercase;
		font-weight: 700;
		font-family: $font-bebas;
		text-align: center;
		margin: 0 auto;
		max-width: 22rem;
		font-size: rem(18);
		@media (min-width: $md4) {
			font-size: 1.375rem;
		}
	}
	// .door-open-day__benefit-title
	&__benefit-title {
		text-align: center;
		font-size: rem(26);
		margin-top: 1.25rem;
		@media (min-width: $md3) {
			margin-top: 1.04rem;
			font-size: rem(32);
		}
	}
	// .door-open-day__benefit-list
	&__benefit-list {
		padding: em(0) em(0) em(0) 1.2rem;
		margin-top: 2.62rem;
		@media (min-width: $md4) {
			margin-top: 2rem;
		}
		@media (min-width: $md2) {
			padding: em(0) em(0) em(0) 2.8rem;
		}
		&:has(.door-open-day__benefit-icon) {
			margin-top: 1.62rem;
			padding: 0 0 0 rem(8);
			& .door-open-day__benefit-item {
				padding: 0;
				gap: 1.22rem;
				&::before {
					display: none;
				}
				&:not(:last-child) {
					margin-bottom: 1.4rem;
				}
			}
		}
	}
	// .door-open-day__benefit-item
	&__benefit-item {
		display: flex;
		align-items: center;
		gap: 0.82rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
		&::before {
			content: "";
			width: 0.3em;
			height: 0.3em;
			align-self: flex-start;
			margin-top: 0.5em;
			background: currentColor;
			border-radius: 50%;
		}
		&:not(:last-child) {
			margin-bottom: 0.4rem;
		}

		& div {
			line-height: 110%;
			font-size: rem(18);
			@media (min-width: $md4) {
				font-size: rem(20);
			}
			@media (min-width: $md2) {
				font-size: 1.375rem;
			}
		}
	}
	// .door-open-day__benefit-icon
	&__benefit-icon {
		width: 2.24725rem;
		height: 2.58844rem;
		flex-shrink: 0;
	}
	// .door-open-day__benefit-hint
	&__benefit-hint {
		margin-top: 2rem;
		font-family: $font-bebas;
		font-size: 1.375rem;
		line-height: 140%;
		font-weight: 700;
		max-width: 10rem;
		text-transform: uppercase;
		margin-left: 1.1rem;
		@media (min-width: $md2) {
			margin-left: 2.3rem;
		}
	}
	// .door-open-day__benefit-sticker
	&__benefit-sticker {
		position: absolute;
		bottom: -3.8rem;
		right: -2.2rem;
		width: 10.69006rem;
		height: 10.1875rem;
		@media (min-width: $md4) {
			width: 12.16706rem;
			height: 11.59506rem;
		}
	}
}
