@use "sass:math";
@use "sass:color";
@use "../_mixins" as *;
@use "../_variables" as *;


.teacher-page {
    margin-top: rem(65);
    padding: $header 0 0;

    @media (min-width:$md5) {
        padding: $header 0 0;
    }

    @media (min-width:$md2) {
        padding: $header 0 0;
    }

    // .teacher-page__wrapper
    &__wrapper {
        background: #F6F6F6;
        padding: rem(14) 0 3.75rem;
    }

    // .teacher-page__breadcrumbs
    &__breadcrumbs {}

    // .teacher-page__content
    &__content {
        margin-top: 3.75rem;

        .container {
            @media (max-width:$md5) {
                max-width: 72%;
            }
        }
    }

    // .teacher-page__photo
    &__photo {
        aspect-ratio: 1;

        margin-bottom: 2.44rem;


        @media (min-width:$md5) {
            width: 15rem;
            height: 15rem;
            margin-bottom: 1.25rem;
            float: left;
            margin-right: 2.12rem;

        }

        @media (min-width:$md3) {
            width: 18.75rem;
            height: 18.75rem;

        }
    }

    // .teacher-page__placeholder
    &__placeholder {}

    // .teacher-page__title
    &__title {
        font-family: $fontfamily;
        text-transform: capitalize;
        font-size: 1.25rem;

        @media (min-width:$md5) {
            display: flex;
            align-items: center;
            gap: rem(34);
            font-size: 1.5rem;

        }
    }

    // .teacher-page__title-icon
    &__title-icon {
        display: none;

        @media (min-width:$md4) {
            display: inline-block;
        }
    }

    // .teacher-page__meta
    &__meta {
        line-height: 120%;
        font-size: 1rem;
        margin-top: rem(10);

        @media (min-width:$md5) {
            font-size: 1.25rem;
            margin-top: 1.25rem;

        }
    }

    // .teacher-page__desc
    &__desc {
        font-size: rem(14);
        margin-top: rem(10);

        @media (min-width:$md5) {
            margin-top: 1.25rem;
            font-size: 1rem;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 0.75rem;
            }
        }
    }


}


.teacher {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-shrink: 0;
    width: rem(178);

    @media (min-width: $md4) {
        width: rem(160);
    }

    @media (min-width: $md3) {
        width: rem(176);
    }

    // .teacher__main
    &__main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    // .teacher__image
    &__image {
        max-width: rem(176);
        width: 100%;
        aspect-ratio: 1;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .teacher__name
    &__name {
        margin-top: 1.25rem;
    }

    // .teacher__position
    &__position {
        margin-top: 0.25rem;
        line-height: 110%;
    }

    // .teacher__modal
    &__modal {
        display: none;
    }

    // .teacher__modal-content
    &__modal-content {
        position: relative;
        border-radius: 2.25rem;
        border: rem(6) solid #e2e1e2;
        background: #fff;
        color: $text;
        max-width: 59.0625rem;
        display: flex;
        gap: 2.13rem;
        padding: 3.75rem 3rem;
        flex-direction: column;

        @media (min-width: $md4) {
            flex-direction: row;
        }

        @media (min-width: $md3) {
            padding: 4.62rem;
        }
    }

    // .teacher__modal-close
    &__modal-close {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        background: #e2e1e2;
        color: #fff;
        font-size: 1.5rem;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        transition: background-color 0.3s ease;

        @media (any-hover: hover) {
            &:hover {
                background: $accent;
            }
        }

        @media (min-width: $md4) {
            top: 1.94rem;
            right: 1.94rem;
        }
    }

    // .teacher__modal-body
    &__modal-body {}

    // .teacher__modal-thumb
    &__modal-thumb {
        width: 100%;

        @media (min-width: $md4) {
            flex: 0 0 18.75rem;
        }

        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    // .teacher__modal-header
    &__modal-header {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        font-weight: 700;
        line-height: 140%;
        font-size: 1.25rem;

        @media (min-width: $md5) {
            font-size: 1.5rem;
        }
    }

    // .teacher__modal-logo
    &__modal-logo {
        display: none;

        @media (min-width: $md5) {
            display: block;
        }
    }

    // .teacher__modal-name
    &__modal-name {}

    // .teacher__modal-info
    &__modal-info {
        margin-top: 0.62rem;

        @media (min-width: $md4) {
            margin-top: 1.25rem;
        }
    }

    // .teacher__modal-desc
    &__modal-desc {
        margin-top: 0.62rem;
        font-size: 0.875rem;
        line-height: 140%;

        @media (min-width: $md4) {
            font-size: 0.9375rem;
            margin-top: 1.25rem;
            overflow-y: auto;
            padding-right: 3.38rem;

            &::-webkit-scrollbar-thumb {
                background: #d6d5dd;
            }

            max-height: 10.625rem;
        }
    }

    &__modal-btn {
        margin-top: 1rem;
    }
}

.teacher-articles {
    padding: rem(60) 0;

    @media (min-width:$md4) {
        padding: 3.75rem 0 5rem;

    }
}