<div class="gallery__slider">
    <div class="gallery__slider-content swiper">
        <div class="swiper-wrapper">
            <a href="@img/gallery/01.jpg" data-fancybox="gallery" class="gallery__slide swiper-slide">
                <img src="@img/gallery/01.jpg" class="cover-image" alt="Фото центра CME">
            </a>
            <a href="@img/gallery/01.jpg" data-fancybox="gallery" class="gallery__slide swiper-slide">
                <img src="@img/gallery/01.jpg" class="cover-image" alt="Фото центра CME">
            </a>
            <a href="@img/gallery/01.jpg" data-fancybox="gallery" class="gallery__slide swiper-slide">
                <img src="@img/gallery/01.jpg" class="cover-image" alt="Фото центра CME">
            </a>
        </div>
    </div>
    <button type="button" class="gallery__slider-prev icon-prev-circle"></button>
    <button type="button" class="gallery__slider-next icon-next-circle"></button>
    <div class="gallery__slider-pagination swiper-pagination"></div>
</div>