body {
	font-family: Montserrat, sans-serif;
	font-size: 1rem;
	font-weight: 500;
	min-width: 20rem;
	min-height: 100%;
	line-height: normal;
	color: #1b1c25;
	margin-right: 0 !important;
	&.modal-lock {
		overflow: hidden;
	}
}

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
}
